<div class="screen">
  <img class="screen-png" src="/assets/phone-bk.png" alt="phone image background">
  <svg class="screen-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 690">
    <defs>
      <clipPath id="clippath">
        <rect class="cls-1" x="176" y="146" width="45" height="24" rx="6" ry="6"/>
      </clipPath>
    </defs>
    <g id="toplabel" class="label">
      <text class="cls-14" transform="translate(39 122)"><tspan x="0" y="0">All Users</tspan></text>
      <g class="cls-23">
        <text id="num" class="cls-13" transform="translate(39 170)">{{ userNum }}</text>
      </g>
      <g id="minilabel" class="label">
        <rect class="cls-1" x="176" y="146" width="45" height="24"/>
        <rect x="176" y="146" width="45" height="24" rx="6" ry="6"/>
        <g class="cls-8">
          <g>
            <g>
              <rect class="cls-1" x="182" y="152" width="12" height="12"/>
              <path class="cls-16" d="m188.5,155.9l2.4,2.4c.2.2.5.2.7,0,0,0,0,0,0,0,.2-.2.2-.5,0-.7l-3.3-3.3c-.2-.2-.5-.2-.7,0l-3.3,3.3c-.2.2-.3.5-.1.7.2.2.5.3.7.1,0,0,0,0,.1-.1l2.4-2.4v5.6c0,.3.2.5.5.5s.5-.2.5-.5v-5.6Z"/>
            </g>
            <g class="cls-23">
              <text class="cls-17" transform="translate(199.3 161)"><tspan x="0" y="0">45</tspan></text>
            </g>
          </g>
        </g>
      </g>
    </g>
    <g id="label1" class="label">
      <rect class="cls-22" x="74" y="240" width="89" height="26" rx="5" ry="5"/>
      <g>
        <circle class="cls-21" cx="95" cy="253" r="8"/>
        <circle class="cls-20" cx="95" cy="253" r="8"/>
        <g class="cls-23">
          <text class="cls-12" transform="translate(109 257.5)"><tspan x="0" y="0">+15.4%</tspan></text>
        </g>
      </g>
      <path class="cls-22" d="m113.3,266h10.4l-3.6,5.1c-.6.9-1.9,1.1-2.8.5-.2-.1-.4-.3-.5-.5l-3.6-5.1Z"/>
    </g>
    <g id="label2" class="label">
      <rect class="cls-22" x="212" y="230" width="90" height="26" rx="5" ry="5"/>
      <g>
        <circle class="cls-21" cx="233" cy="243" r="8"/>
        <circle class="cls-20" cx="233" cy="243" r="8"/>
        <g class="cls-23">
          <text class="cls-12" transform="translate(248 247.5)"><tspan x="0" y="0">+0.08%</tspan></text>
        </g>
      </g>
      <path class="cls-22" d="m251.8,256h10.4l-3.6,5.1c-.6.9-1.9,1.1-2.8.5-.2-.1-.4-.3-.5-.5l-3.6-5.1Z"/>
    </g>
    <g id="dots1" class="cls-24 dot">
      <circle class="cls-20" cx="118.1" cy="292.3" r="8.4"/>
      <circle class="cls-4" cx="118.1" cy="292.3" r="7.9"/>
      <circle class="cls-20" cx="118.1" cy="292.3" r="3.3"/>
      <circle class="cls-4" cx="118.1" cy="292.3" r="2.8"/>
      <circle class="cls-1" cx="118.1" cy="292.3" r="10.2"/>
      <circle class="cls-4" cx="118.1" cy="292.3" r="9.7"/>
      <circle class="cls-1" cx="118.1" cy="292.3" r="19.1"/>
      <circle class="cls-5" cx="118.1" cy="292.3" r="18.8"/>
      <circle class="cls-11" cx="118.1" cy="292.3" r="1.4"/>
      <circle class="cls-4" cx="118.1" cy="292.3" r=".9"/>
    </g>
    <g id="label3" class="label">
      <rect class="cls-22" x="100" y="325" width="88" height="26" rx="5" ry="5"/>
      <g>
        <circle class="cls-21" cx="121" cy="338" r="8"/>
        <circle class="cls-9" cx="121" cy="338" r="8"/>
        <g class="cls-23">
          <text class="cls-12" transform="translate(137 342.5)"><tspan x="0" y="0">-0.32%</tspan></text>
        </g>
      </g>
      <path class="cls-22" d="m138.8,351h10.4l-3.6,5.1c-.6.9-1.9,1.1-2.8.5-.2-.1-.4-.3-.5-.5l-3.6-5.1Z"/>
    </g>
    <g id="dots2" class="cls-24 dot">
      <circle class="cls-20" cx="253.9" cy="282.6" r="8.4"/>
      <circle class="cls-4" cx="253.9" cy="282.6" r="7.9"/>
      <circle class="cls-20" cx="253.9" cy="282.6" r="3.3"/>
      <circle class="cls-4" cx="253.9" cy="282.6" r="2.8"/>
      <circle class="cls-1" cx="253.9" cy="282.6" r="10.2"/>
      <circle class="cls-4" cx="253.9" cy="282.6" r="9.7"/>
      <circle class="cls-1" cx="253.9" cy="282.6" r="19.1"/>
      <circle class="cls-5" cx="253.9" cy="282.6" r="18.8"/>
      <circle class="cls-11" cx="253.9" cy="282.6" r="1.4"/>
      <circle class="cls-4" cx="253.9" cy="282.6" r=".9"/>
    </g>
    <g id="dots3" class="cls-24 dot">
      <circle class="cls-9" cx="143.7" cy="376.5" r="8.4"/>
      <circle class="cls-2" cx="143.7" cy="376.5" r="7.9"/>
      <circle class="cls-9" cx="143.7" cy="376.5" r="3.3"/>
      <circle class="cls-2" cx="143.7" cy="376.5" r="2.8"/>
      <circle class="cls-1" cx="143.7" cy="376.5" r="10.2"/>
      <circle class="cls-2" cx="143.7" cy="376.5" r="9.7"/>
      <circle class="cls-1" cx="143.7" cy="376.5" r="19.1"/>
      <circle class="cls-6" cx="143.7" cy="376.5" r="18.8"/>
      <circle class="cls-11" cx="143.7" cy="376.5" r="1.4"/>
      <circle class="cls-2" cx="143.7" cy="376.5" r=".9"/>
  </g>
    <g id="dots4" class="cls-24 dot">
        <circle class="cls-20" cx="251.1" cy="429.1" r="8.4"/>
        <circle class="cls-4" cx="251.1" cy="429.1" r="7.9"/>
        <circle class="cls-20" cx="251.1" cy="429.1" r="3.3"/>
        <circle class="cls-4" cx="251.1" cy="429.1" r="2.8"/>
        <circle class="cls-1" cx="251.1" cy="429.1" r="10.2"/>
        <circle class="cls-4" cx="251.1" cy="429.1" r="9.7"/>
        <circle class="cls-1" cx="251.1" cy="429.1" r="19.1"/>
        <circle class="cls-5" cx="251.1" cy="429.1" r="18.8"/>
        <circle class="cls-11" cx="251.1" cy="429.1" r="1.4"/>
        <circle class="cls-4" cx="251.1" cy="429.1" r=".9"/>
    </g>
    <g id="key">
      <g id="keybk">
        <rect x="40" y="533" width="213" height="116" rx="8" ry="8"/>
        <rect class="cls-3" x="39.5" y="532.5" width="214" height="117" rx="8.5" ry="8.5"/>
      </g>
      <g id="lastmonth">
        <rect class="cls-1" x="60" y="553" width="102" height="24"/>
        <path class="cls-20" d="m64,561h0c2.2,0,4,1.8,4,4h0c0,2.2-1.8,4-4,4h0c-2.2,0-4-1.8-4-4h0c0-2.2,1.8-4,4-4Z"/>
        <g class="cls-23">
          <text class="cls-15" transform="translate(76 569)"><tspan x="0" y="0">Last Month</tspan></text>
        </g>
        <g>
          <g>
            <rect class="cls-1" x="171" y="557" width="16" height="16"/>
            <rect class="cls-1" x="171" y="557" width="16" height="16"/>
            <path class="cls-18" d="m175.8,565.2h2.7v5.4c0,.3.2.5.5.5s.5-.2.5-.5h0v-5.4h2.7c.2,0,.3,0,.4-.3,0-.2,0-.3,0-.5l-3.2-5.2c-.1-.2-.4-.3-.6-.2,0,0-.1,0-.2.2l-3.2,5.2c0,.2,0,.3,0,.5,0,.2.2.3.4.3Z"/>
          </g>
          <g class="cls-23">
            <text id="month" class="cls-19" transform="translate(193.3 570.5)"><tspan x="0" y="0">{{monthNum}}%</tspan></text>
          </g>
        </g>
      </g>
      <g id="thismonth">
        <rect class="cls-1" x="60.5" y="605" width="101" height="24"/>
        <path class="cls-9" d="m64.5,613h0c2.2,0,4,1.8,4,4h0c0,2.2-1.8,4-4,4h0c-2.2,0-4-1.8-4-4h0c0-2.2,1.8-4,4-4Z"/>
        <g class="cls-23">
          <text class="cls-15" transform="translate(76.5 621)"><tspan x="0" y="0">This Month</tspan></text>
        </g>
        <g>
          <g>
            <rect class="cls-1" x="170.5" y="609" width="16" height="16"/>
            <rect class="cls-1" x="170.5" y="609" width="16" height="16"/>
            <path class="cls-9" d="m181.7,616.8h-2.7v-5.4c0-.3-.2-.5-.5-.5s-.5.2-.5.5h0v5.4h-2.7c-.2,0-.3,0-.4.3,0,.2,0,.3,0,.5l3.2,5.2c.1.2.4.3.6.2,0,0,.1,0,.2-.2l3.2-5.2c0-.2,0-.3,0-.5,0-.2-.2-.3-.4-.3Z"/>
          </g>
          <g class="cls-23">
            <text class="cls-10" transform="translate(192.8 622.5)"><tspan x="0" y="0">1.52%</tspan></text>
          </g>
        </g>
      </g>
    </g>
    <svg:path #lines id="lines" class="cls-7" d="m118.1,291.4s63.3-80.6,135.9-9.8c0,0-113.8,16.4-109.4,94.9,0,0,104.2-57.5,106.6,53.5"/>
  </svg>
</div>