<mat-vertical-stepper (selectionChange)="onStepChange($event)">
   
  <mat-step label="Step 1">
    <p>Let's say you have an app like this one.</p>
    <p>We want to set up any data we might like to track with a signal. A signal is a value which is "reactive", meaning it can notify interested consumers when it changes.</p>
    <p class="code">(() => T)</p>
    <p>Signal are zero-argument functions. When executed, they return the current value of the signal.</p>
    <p>In this particular app, we might want to track the users, listed here at the top.</p>
    <p class="code">users = signal(159845);</p>
  </mat-step>
    
  <mat-step label="Step 2">
    Step 2 Content Will Be Here
  </mat-step>
    
  <mat-step label="Step 3">
    Step 3 Content Will Be Here. It's Done Now...
  </mat-step>
    
</mat-vertical-stepper>