<div class="container">
  <div class="header-area"> 
    <h1>Angular Signals Demo</h1>
  </div>
  <div class="screen-area">
    <app-screen></app-screen>
  </div>
  <div class="explain-area">
    <p>Let's say you have an app like this one.</p>
    <p>We want to set up any data we might like to track with a signal. A signal is a value which is "reactive", meaning it can notify interested consumers when it changes.</p>
    <p class="code">(() => T)</p>
    <p>Signal are zero-argument functions. When executed, they return the current value of the signal.</p>
    <p>In this particular app, we might want to track the users, listed here at the top.</p>
    <p class="code">users = signal(159845);</p>
  </div>
</div>


