/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; }

body {
  font-family: 'Jost', sans-serif;
  background: #000;
  color: white;
}

button {
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
  height: 35px;
  cursor: pointer;
  font-family: 'Jost', sans-serif;
}

text {
  font-family: 'Jost', sans-serif;
}

h1 {
  color: #7fa3ee;
}

p {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-family: 'Jost', sans-serif;
}

.code {
  font-family: 'JetBrains Mono', monospace;
  background: #222;
  border-radius: 4px;
  border: 1px solid #515050;
  padding: 10px;
  color: #c2e4f9;
  font-size: 15px;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
}
